<%- include('partials/header') %> 
    <section id="contact-hero">
  <div id="contact-hero-background">
<%- include('partials/navbarWhite') %> 
<div class="contact">
<div class="page-cta">
  <h2 id="contact-head">Let's chat!</h2>
</div>
  <div class="page-container">
    <form  id='contact-form' action="/contact" method='POST' enctype="x-www-form-urlencoded">
      <div class="">
        <div class="contact-top-row">
          <div class="name-flex">
            <label for="firstName" class="name-input-label">First name</label>
            <input type="text" id="firstName" class="name-input">
          </div>
          <div class="name-flex">
            <label for="lastName" class="name-input-label">Last name</label>
            <input type="text" id="lastName" class="name-input">
          </div>
        </div>
        <div class="contact-second-row">
          <label for="email" class="email-input-label">Email</label>
          <input type="email" id="email" class="email-input">
        </div>
        <div class="contact-text-area">
          <label for="message-input" class="email-input-label">Your message</label>
          <input type="textarea" id="message-input" class="email-input contact-message-input">
        </div>
      </div>
      <div id="submit-btn-div">
        <button id="contact-submit">Submit</button>
      </div>
    </form>
      
  </div>
</div>
</section>
      <%- include('partials/footer')%>